@{
    ViewData["Title"] = "Productivity Helper";
}

<div class="text-center">
    <h1 class="display-4" style="font-family: system-ui;">Welcome To Productivity Helper</h1>
</div>
<img src="https://pomelloapp.com/images/pomodoro-timer.png" alt="Pomodoro" style="display: block;
    margin-left: auto;
    margin-right: auto; height:30%; width:30%">
<div style="text-align:center;"><button type="button" id="myButton" data-loading-text="Loading..." class="btn btn-primary" style="margin-top: 10px; margin-left:auto;margin-right:auto;">
  Enter
</button></div>