@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div id="app"></div>
    <div>
        <button class="pomobutton" onclick="startLongTimer()">Start Timer</button>
    </div>
</div>

