@{
    ViewData["Title"] = "Index";
}

<div class="container">

    <h2 id="timer-header">Timer</h2>
    <div class="light-bar">
        <div id="myBar">0%</div>
    </div>
    <br>
    <button class="button" onclick="move()">Click Me</button>

</div>

